# telegram
BOT_TOKEN = "token"
CHAT_ID =  telegram chat id 
NEWS_CHAT_ID = telegram news group id
# database
DATABASE_URI = "db uri/sslmode=require"
# vk
VK_TOKEN = vk1.a.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...
VK_PEER_ID = vk news chat id
TZ = Europe/Minsk
